/* sidebar */
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

.sidebar{
    position: absolute;
    width: 233px;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -100;
    background: #B07D62;
    border-radius: 0px 25px 25px 0px;
}



/* Heyo bg */

.heyobg{
    position: absolute;
    width: 235px;
    height: 85px;
    left: -1px;
    top: -15px;
    z-index: -100;
    display:inline-block;
    background: #ADC178;
    border-radius: 25px;

}


/*Side menu choices*/
.choices{
    position: absolute;
    top:81px;
    height: 123px;
    width: 235px;
    
}
.choices label{
padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Gaegu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 29px;
    text-align: left;
}
#Entry:hover
{
    background: #8b634d;
    border-radius: 25px;

}
#cal:hover
{
    background: #8b634d;
    border-radius: 25px;

}
#dash:hover
{
    background: #8b634d;
    border-radius: 25px;
}
/* ENTRY */

#Entry{
    width: 210px;
    height: 41px;
    padding-top: 16px;
    color: #FFFFFF;
}




/* CALENDAR */

#cal{
    width: 210px;
    height: 41px;    
    color: #FFFFFF;
    padding-top: 15px;

}




/* DASHBOARD */

#dash{
    width: 210px;
    height: 41px;    
    color: #FFFFFF;
    padding-top: 15px;

}



/* HEYO */

#heyo{
    position: absolute;

margin-left: 60px;
font-family: 'Gaegu', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 0px;
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

}

#moods{
    position: absolute;
width: 270px;
height: 87px;
left: 1115px;
top: 874px;
font-family: 'Gaegu', sans-serif;

}

