@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

.moodlist{
    list-style-type: none;
    padding: 0px;

}
.moodlist li{
    display: inline;

}
#back{
    font-family: 'Gaegu', sans-serif;

}

#moodl label{
    padding: 0px;
    margin: 9.5px;
    font-size: 24px;
}

#radio1 li{
    margin: 5px;
    align-items: center;

}

#Diary{
   resize:none; 
    height: 321px;
    font-family: 'Gaegu', sans-serif;
    font-size: 24px;
}