@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
#back{
    background: #EBD4AB;
}
.sidebar{
    position: absolute;
    width: 258px;
    height: 40%;
    left: 0px;
    top: 20px;
    z-index: -100;
    background: #EBD4AB;
    border-radius: 0px 0px 25px 25px;
}
.heyobg{
    border-radius:0px 25px 25px 25px;
    width:259px;
    height:75px;
    margin-top: -20px;
    background-color:#d4e09b;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);

}

.heyobg:hover{
    box-shadow: 0 12px 16px 0 rgba(128, 126, 126, 0.24);
    border-radius: 0px 25px 25px 25px;

}
/*Side menu choices*/
.choices{
    position: absolute;
    top:81px;
    height: 100px;
    width: 258px;
    display: block;
    background: #B07D62;

}
.choices label{
    align-items: center;
/*padding: 6px 8px 6px 16px;*/
  text-decoration: none;
  display: block;
  font-family: 'Gaegu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin:auto;
}
.choices button{
    align-items: center;
/*padding: 6px 8px 6px 16px;*/
  text-decoration: none;
  display: block;
  font-family: 'Gaegu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin:auto;

    border-radius: 25px;

}
.choices button:hover{
    background: #8b634d;
    border-radius: 25px;
    align-items: center;
}
.choices label:hover{
    background: #8b634d;
    border-radius: 25px;
    align-items: center;
}
/* ENTRY */

#Entry{
    width: 210px;
    height: 41px;
    padding-top: 16px;
    color: #FFFFFF;
}




/* CALENDAR */

#cal{
    width: 210px;
    height: 41px;    
    color: #FFFFFF;
    padding-top: 15px;

}




/* DASHBOARD */

#dash{
    width: 210px;
    height: 41px;    
    color: #FFFFFF;
    padding-top: 15px;

}



/* HEYO */

#heyo{
    position: absolute;
    user-select:none;
margin-left: 71px;
font-family: 'Gaegu', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 0px;
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

}

#todo{
    color: #FFFFFF;
    font-family: 'Gaegu', sans-serif;
    padding-top: 15px;
    width: 210px;
    height: 41px;
}

#todo:hover{
    background: #8b634d;
    border-radius: 25px;
}

#wip{
    position: absolute;
    width: 251px;
    height: 34px;
    left: 450px;
    top: 400px;
}


#listbg{
    /* Rectangle 2 */

border: 0px;
position: absolute;
width: 1200px;
height: 750px;
top: 25px;
left: 300px;
background: #B07D62;
border: 1px solid #000000;
border-radius: 25px;
z-index: -1000;
margin: 0px;
overflow: hidden;

}

#namebg{
    /* Rectangle 3 */
    display: table;
width: 1200px;
height: 100px;
background: #D4E09B;
border-radius: 25px 25px 0px 0px;
}

#namebg h1{
    position: relative;
    display: table-cell;
    font-family: 'Gaegu', sans-serif;
    color: #FFFFFF;
    vertical-align: middle;
    text-align: center;


}

#list{
    display: block;
    height: 560px;
    width: 100%;
    overflow: scroll;
    text-align: center;
}
#list::-webkit-scrollbar{
    display: none;
}
.todoc{
    display: block;
    background: #debd80;
    height: 100px;
    width: 1000px;
    margin: 10px auto;
    font-family: 'Gaegu', sans-serif;
    border-radius: 25px;
    transition: all .2s ease-in-out; 

}
.todoc:hover{
    transform: scale(1.1);
}
 .todoc p{
    font-size: 36px;
margin: 5px;
 }

/*.checkdiv{
    vertical-align: middle;  

}*/

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ddd;
    appearance: none;
    cursor: pointer;
    position: relative;
    top:40px;
    right: 450px;
}

.checkbox-round:checked {
    background-color: gray;
}

#textbox{
    /* Rectangle 5 */
display: table;

box-sizing: border-box;

width: 1200px;
height: 90px;
background: #8D6752;
border-top: 1px solid #000000;
border-radius: 0px 0px 25px 25px;
}

#textbox textarea{
    /* Rectangle 6 */
    resize: none;
    
    width: 1150px;
    height: 50px;
    background: rgba(225, 200, 161, 0.81);
    border-radius: 20px;
    padding: 12px 0px 0px 20px;
    font-family: 'Gaegu', sans-serif;
    font-size: 30px;
    

}

#submit{
    position: absolute;
    right: 40px;
    bottom: 25px;
    border: none; /* Remove borders */
    background: rgba(225, 200, 161, 0);
    height: 40px;


}
#icon{


}

#textbg{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#shop{
    width: 210px;
    height: 41px;    
    color: #FFFFFF;
    padding-top: 15px;
}